.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#node modules
/node_modules
