@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Inria+Serif&display=swap');

body{
    background-color: #DCDCEF;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}



/* Login Div */
.loginDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    bottom: 0;
    width: 100%;
}
/* Form Of Login */
.formDiv{
    background-color: #424088;
    width: 40%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* Doctor Verse Heading */
.formDiv h3{
font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 60px;
/* identical to box height */
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
margin: 5% 0%;
line-height: 84px;
text-transform: uppercase;
}


/* Form Element {Input Div} */
.form-element{
    width: 88%;
    margin: 2% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Inputs */
/* input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9694E4;
    outline: none;
    position: relative;
    width: 60%;
  } */
  
  
  /* Label */

  /* label{
    font-family: 'Cairo';
    font-style: normal;
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: left;
  } */

  /* .labelIcon {
    position: relative;
    top: 10px;
    left: 0;
    align-items: center;
    color: cyan;
  } */


  /* Buttons */
  .FormButtonsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10%;
    padding: 5%;
  }

  /* Line between Form Buttons */
  .line{
    min-height: 100px;
    width: 1px;
    background-color:  white;
    z-index: 6;
  }

  .signUp button{
    color: white;
    font-weight: 500;
    background-color: rgba(150, 148, 228, 0.35);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
  }

  

  /* Company Logos */
  .signUpWithSocials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .socialSignupHeading{
    text-transform: uppercase;
    color: white;
    font-family: Cairo;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .signUpSocialsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .signUpSocialsContainer img{
    margin: 0%;
    border: none;
  }
  /* Dot between images */
  .dot{
    height: 10px;
    width: 10px;
    background-color:  rgba(255, 255, 255, 0.354);
    border-radius: 50%;
    border: none;
    z-index: 6;
    margin: 0% 5px;
  }


/* Rectangular Div's */
/* Tilted Rectangular Div */
.rectangleRight{
    position: absolute;
width: 450.25px;
height: 45px;
left: -10%;
top: 45%;

background: #A6A9E3;
transform: rotate(-19.86deg);
z-index: -1;
}

/* Solid Purple Colored  */
.rectanglePurpleRight{
    position: absolute;
width: 450.25px;
height: 45px;
left: -10%;
top: 75%;
background: #424088;
transform: rotate(-19.86deg);
z-index: -1;
}

/* Tilted Rectangular Div's Right */
.rectangleLeft{
    position: absolute;
width: 450.25px;
height: 45px;
left: 75%;
top: 30%;
background: #A6A9E3;
transform: rotate(-19.86deg);
z-index: -1;
}
.rectanglePurpleLeft{
    position: absolute;
width: 450.25px;
height: 45px;
left: 75%;
top: 60%;
background: #424088;
transform: rotate(-19.86deg);
z-index: -1;
}

@media screen and (max-width:1000px){
  .FormButtonsDiv{
    flex-direction: column;
  }

  .line{
    height: 1px;
     min-height: auto;
     margin-top: 20px;
    width: 200px;
    background-color:  white;
    z-index: 6;
  }
}